# Environment variables
.env

# data directories
spark/docker/flint-0.7.0.jar
spark/docker/python3.8/
airflow/docker/config/
airflow/docker/logs/
airflow/docker/plugins/
airflow/docker/dags/   

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
test_pyspark.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
